node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/api/sk_render

# OS
.DS_Store
Thumbs.db

# Env
.env.*
!.env.example
!.env.test
.env

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
